 body {
     font-family: sans-serif;
     background-color: black;
 }

 .header {
     position: static;
     background-color: cornflowerblue;
     border: 2px solid white;
     border-radius: 10px;
     color: white;
     font-size: x-large;
     text-align: center;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     margin-bottom: 10px;
     margin-left: 1rem !important;
     margin-right: 1rem !important;
     box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
     text-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
 }

 .topTable {
     width: 100%;
     height: 100%;
     border: 0;
 }

 .boardCol {

     width: 100%;
 }

 .board {
     margin-left: 2rem !important;
     margin-right: 2rem !important;
     display: flex;
     justify-content: center;
 }

 .actions {
     position: static;
     margin-left: 2rem !important;
 }

 .borderTop>td>div {
     border-top: 2px solid white !important;
 }

 .borderBottom>td>div {
     border-bottom: 2px solid white !important;
 }

 .borderLeft {
     border-left: 2px solid white !important;
 }

 .borderRight {
     border-right: 2px solid white !important;
 }

 .noBorder {
     border: none;
     border-collapse: collapse;
     margin: none;
     margin: none;
 }

 .boardCell {
     display: flex;
     width: 50px;
     height: 50px;
     color: white;
     margin: 0;
     padding: 0;
     border: 1px white;
     border-style: groove;
     background-color: dimgray;
     text-align: center;
     justify-content: center;
     align-items: center;

 }


 .actionNumber {
     background-color: dimgray;
     color: white;
     box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
     width: 50px;
     height: 1em;
     margin-bottom: 10px;
     padding-top: 1em;
     padding-bottom: 1em;
     border: 2px solid white;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
 }

 .colorNumber1 {
     background-color: lightyellow;
     color: black;
 }


 .colorNumber2 {
     background-color: gold;
     color: black;
 }

 .colorNumber3 {
     background-color: greenyellow;
     color: black;
 }

 .colorNumber4 {
     background-color: lightblue;
     color: black;
 }

 .colorNumber5 {
     background-color: lightskyblue;
     color: black;
 }

 .colorNumber6 {
     background-color: lightsalmon;
     color: black;
 }

 .colorNumber7 {
     background-color: red;
     color: black;
 }

 .colorNumber8 {
     background-color: violet;
     color: black;
 }

 .colorNumber9 {
     background-color: blueviolet;
     color: black;
 }