 body {
     font-family: sans-serif;
     background-color: black;
 }

 .header {
     position: static;
     background-color: cornflowerblue;
     border: 2px solid white;
     border-radius: 10px;
     color: white;
     font-size: x-large;
     text-align: center;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     margin-bottom: 10px;
     margin-left: 0.5rem !important;
     margin-right: 0.5rem !important;
     box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
     text-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
 }

 .topTable {
     width: 100%;
     height: 100%;
     border: 0;
 }

 .boardCol {

     width: 100%;
     height: 100%;
 }

 .actionsCol {

     width: 100%;
 }

 .board {
     margin-left: 0.5rem !important;
     margin-right: 0.5rem !important;
     display: flex;
     justify-content: center;
 }


 .actions {
     margin-left: 2rem !important;
     margin-right: 2rem !important;
     display: flex;
     justify-content: center;
 }

 .borderTop>td>div {
     border-top: 2px solid white !important;
 }

 .borderBottom>td>div {
     border-bottom: 2px solid white !important;
 }

 .borderLeft {
     border-left: 2px solid white !important;
 }

 .borderRight {
     border-right: 2px solid white !important;
 }

 .noBorder {
     border: none;
     border-collapse: collapse;
     margin: none;
     margin: none;
 }

 .boardCell {
     display: flex;
     width: 50px;
     height: 50px;
     color: white;
     margin: 0;
     padding: 0;
     border: 1px white;
     border-style: groove;
     background-color: dimgray;
     text-align: center;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .actionNumber {
     background-color: dimgray;
     color: white;
     box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
     width: 50px;
     height: 1rem;
     margin-bottom: 10px;
     margin-right: 10px;
     padding-top: 1em;
     padding-bottom: 1em;
     border: 2px solid white;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
 }


 .colorNumber1 {
     background-color: lightyellow;
     color: black;
 }


 .colorNumber2 {
     background-color: gold;
     color: black;
 }

 .colorNumber3 {
     background-color: greenyellow;
     color: black;
 }

 .colorNumber4 {
     background-color: lightblue;
     color: black;
 }

 .colorNumber5 {
     background-color: lightseagreen;
     color: black;
 }

 .colorNumber6 {
     background-color: lightsalmon;
     color: black;
 }

 .colorNumber7 {
     background-color: lightpink;
     color: black;
 }

 .colorNumber8 {
     background-color: violet;
     color: black;
 }

 .colorNumber9 {
     background-color: blueviolet;
     color: black;
 }

 .delete {
     background-color: red;
     color: black;
 }

 .fixCell {
     font-weight: bold;
 }

 #won {
     background-color: gold;
 }

 #error {
     background-color: red;
     color: white;
     text-align: center;

 }

 .bar {
     height: 5rem;
     padding-top: 3rem;
     border: 2px solid white;
     border-radius: 10px;
     box-shadow: inset -3px -3px 5px rgba(0, 0, 0, .5);
     text-align: center;
     position: fixed;
     align-self: center;
     font-size: xx-large;
     font-weight: bold;
     width: 80%;
     left: 10%;
     top: 45%;
 }

 .hidden {
     visibility: hidden;
 }

 .dialog {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 10px;
 }

 .dialogButton {
     background-color: dimgray;
     color: white;
     box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
     width: 100px;
     height: 1em;
     margin-top: 10px;
     padding-top: 1em;
     padding-bottom: 1em;
     border: 2px solid white;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
 }

 .button {
     background-color: dimgray;
     color: white;
     box-shadow: inset -5px -5px 10px rgba(0, 0, 0, .5);
     width: 50px;
     height: 1em;
     margin-bottom: 10px;
     padding-top: 1em;
     padding-bottom: 1em;
     border: 2px solid white;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
 }

 #newGame {
     padding-top: 0.5em;
     padding-bottom: 1.5em;
 }